.nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #bff2f8, #c8a2c8);
  background-color: #b7e8ed;
}

.nav_right {
  display: flex;
  gap: 8px;
  justify-content: right;
  align-content: flex-end;
  align-items: center;
  margin-bottom: 1%;
  padding-right: 20px;
}

.higherorlower {
}

.logo {
  display: flex;
  height: 70px;
  width: 120px;
}

.Links {
  list-style: none;
  text-decoration: none;
}

.Links:hover,
Links:focus {
  color: #f5f2b9;
}

:links:active {
  color: #f5f2b9;
}

.linkWithLogo {
  list-style: none;
  text-decoration: none;
  justify-content: center;
  display: flex;
  margin-top: 3px;
}

.linkWithLogo:hover,
:focus {
  color: #f5f2b9;
}

:linkwithlogo:active {
  color: #f5f2b9;
}

.logoBox {
  display: flex;
  justify-content: space-between;
}

.logoBox > img:hover {
  cursor: pointer;
}

.searchBox {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  /* background-color: gray; */
  width: 80%;
}

.logoAndSearch {
  display: flex;
  flex: 1;
}
