.nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #b7e8ed, #c8a2c8);
  background-color: #b7e8ed;
}

.nav_right {
  display: flex;
  gap: 8px;
  justify-content: right;
  align-content: flex-end;
  align-items: center;
  margin-bottom: 1%;
  padding-right: 20px;
}

.logo {
  display: flex;
  height: 70px;
  width: 120px;
}

.linkWithLogo {
  justify-content: center;
  display: flex;
  margin-top: 3px;
}

.logoBox {
  display: flex;
  justify-content: space-between;
}

.logoBox > img:hover {
  cursor: pointer;
}

.searchBox {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  margin-top: 5px;
}

.searchBar {
  /* background-color: gray; */
  width: 80%;
}

.logoAndSearch {
  display: flex;
  flex: 1;
}
