.reviewDiv {
  padding: 10px 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.reviewHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
