.reviewOuter {
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}