.reviewOuter {
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.reviewHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.buttonDiv {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.likeAndReview {
  display: flex;
  align-items: center;
}
