.card {
  margin: 10px;
  display: flex;
  align-items: flex-start;
}

.cardMedia {
  width: 175px;
  max-width: 30%;
}

.cardContent {
  display: flex;
  align-items: flex-start;
  flex: 1;
  gap: 5px
}

.reviewDiv {
  flex: 1;
}

.reviewHead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.ratingDiv {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 425px) {
  .cardMedia {
    width: 75px;
  }
}
