.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.reviewsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adminButtonsDiv {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.movieSummary {
  display: flex;
}

@media (max-width: 600px) {
  .movieSummary {
    flex-direction: column;
    align-items: center;
  }
}
